<footer>
  <nav>
    <ul class="list-inline">
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><%= link_to "Datenschutzhinweis", datenschutz_path %></li>
      <li><a href="https://github.com/cbachert/MAC_address_bulk_format">Hosted on GitHub</a></li>
    </ul>
  </nav>
</footer>
