<footer>
  <nav>
    <ul class="list-inline">
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><%= link_to "Datenschutzhinweis", datenschutz_path %></li>
    </ul>
  </nav>
</footer>
